In [17]:
#pip install psycopg2-binary

In [18]:
#pip install openai

In [19]:
#pip install openai==0.28

Import getpass library to Hide your Password and API_KEY

In [2]:
import getpass

In [3]:
import psycopg2

In [4]:
from psycopg2 import sql

In [5]:
# Connecting to PostgreSQL via jupiter notebook
conn = psycopg2.connect(
    database="Assignment1",
    user="postgres",
    password=getpass.getpass('Enter a password'),
    host="127.0.0.1",
    port="5432"
)

Enter a password ········

In [6]:
# Create a cursor object
cursor = conn.cursor()

In [7]:
# Check if there is data in the Orders table
check_query = sql.SQL("SELECT COUNT(*) FROM Orders")

cursor.execute(check_query)
result = cursor.fetchone()

Insert Data directly into the PostGres Orders,OrderDetails,Products and Customers Tables

In [9]:
# If there is no data, insert the sample data into the Orders table
if result and result[0] == 0:
# Sample data to be inserted in orders table
    data_to_insert = [
        (1, 101, '2024-01-30', '10:00 AM'),
        (2, 102, '2024-01-30', '02:30 PM'),
        (3, 103, '2024-01-31', '08:45 AM'),
        (4, 104, '2024-01-31', '01:15 PM'),
        (5, 105, '2024-02-01', '11:30 AM')
    ]

# Define the SQL statement for insertion into orders table
    insert_query = sql.SQL("""
        INSERT INTO Orders (OrderID, CustomerID, OrderDate, OrderTime)
        VALUES (%s, %s, %s, %s)
    """)

# Execute the insertion query for each set of data into orders table
    for data in data_to_insert:
        cursor.execute(insert_query, data)

In [10]:
# Check if there is data in the Orders table
check_query = sql.SQL("SELECT COUNT(*) FROM OrderDetails")

cursor.execute(check_query)
result = cursor.fetchone()

In [12]:
# If there is no data, insert the sample data into the Orders table
if result and result[0] == 0:
# Sample data to be inserted into OrderDetails table
    data_to_insert_orderdetails = [
        (1001, 1,99, 6),
        (1002, 2,88, 88),
        (1003, 3,77, 8),
        (1004, 3,66, 65),
        (1005, 2,55, 3)
    ]

# Define the SQL statement for insertion into OrderDetails table
    insert_query_orderdetails = sql.SQL("""
        INSERT INTO OrderDetails (OrderDetailID, OrderID, ProductID, Quantity)
        VALUES (%s, %s, %s, %s)
    """)

# Execute the insertion query for each set of data into OrderDetails table
    for data in data_to_insert_orderdetails:
        cursor.execute(insert_query_orderdetails, data)

In [14]:
# Check if there is data in the Orders table
check_query = sql.SQL("SELECT COUNT(*) FROM Products")

cursor.execute(check_query)
result = cursor.fetchone()

In [15]:
# If there is no data, insert the sample data into the Orders table
if result and result[0] == 0:
# Sample data to be inserted into Products table
    data_to_insert_products = [
        (99, 'Product A', 'Category 1', 25.99, 50),
        (88, 'Product B', 'Category 2', 19.99, 30),
        (66, 'Product C', 'Category 1', 32.50, 20)
    ]

# Define the SQL statement for insertion into Products table
    insert_query_products = sql.SQL("""
        INSERT INTO Products (ProductID, ProductName, Category, UnitPrice, Stock)
        VALUES (%s, %s, %s, %s, %s)
    """)

# Execute the insertion query for each set of data into Products table
    for data in data_to_insert_products:
        cursor.execute(insert_query_products, data)

In [16]:
# Check if there is data in the Orders table
check_query = sql.SQL("SELECT COUNT(*) FROM Customers")

cursor.execute(check_query)
result = cursor.fetchone()

In [17]:
# If there is no data, insert the sample data into the Orders table
if result and result[0] == 0:
# Sample data to be inserted into Customers table
    data_to_insert_customers = [
        (101, 'John', 'Doe', 'john.doe@email.com', '123-456-7890'),
        (102, 'Jane', 'Smith', 'jane.smith@email.com', '987-654-3210'),
        (103, 'Bob', 'Johnson', 'bob.johnson@email.com', '456-789-0123')
    ]

# Define the SQL statement for insertion into Customers table
    insert_query_customers = sql.SQL("""
        INSERT INTO Customers (CustomerID, FirstName, LastName, Email, Phone)
        VALUES (%s, %s, %s, %s, %s)
    """)

# Execute the insertion query for each set of data into Customers table
    for data in data_to_insert_customers:
        cursor.execute(insert_query_customers, data)

In [18]:
# Commit the changes to the database
conn.commit()

Got OpenAI to Generate SQL for the following instruction “Write a SQL query which computes the average total order value for all orders on 2024-01-30.”  
Changed the date based on the what test data We have generated!

In [20]:
import openai

openai.api_key = getpass.getpass('Enter a API_KEY : ')

response = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[
        {
            "role": "system",
            "content": "Given the following SQL tables, your job is to write queries given a user’s request.\n    \n"
                       "CREATE TABLE Orders (\n"
                       "  OrderID int,\n"
                       "  CustomerID int,\n"
                       "  OrderDate datetime,\n"
                       "  OrderTime varchar(8),\n"
                       "  PRIMARY KEY (OrderID)\n"
                       ");\n"
                       "\n"
                       "CREATE TABLE OrderDetails (\n"
                       "  OrderDetailID int,\n"
                       "  OrderID int,\n"
                       "  ProductID int,\n"
                       "  Quantity int,\n"
                       "  PRIMARY KEY (OrderDetailID)\n"
                       ");\n"
                       "\n"
                       "CREATE TABLE Products (\n"
                       "  ProductID int,\n"
                       "  ProductName varchar(50),\n"
                       "  Category varchar(50),\n"
                       "  UnitPrice decimal(10, 2),\n"
                       "  Stock int,\n"
                       "  PRIMARY KEY (ProductID)\n"
                       ");\n"
                       "\n"
                       "CREATE TABLE Customers (\n"
                       "  CustomerID int,\n"
                       "  FirstName varchar(50),\n"
                       "  LastName varchar(50),\n"
                       "  Email varchar(100),\n"
                       "  Phone varchar(20),\n"
                       "  PRIMARY KEY (CustomerID)\n"
                       ");"
        },
        {
            "role": "user",
            "content": "Write a SQL query which computes the average total order value for all orders on 2024-01-30."
        }
    ],
    temperature=0.7,
    max_tokens=200,
    top_p=1
)

# Extract and print the generated SQL from the response
generated_sql = response['choices'][0]['message']['content']
print("Generated SQL query:")
print(generated_sql)

Enter a API_KEY :  ········

Generated SQL query:
SELECT AVG(total_order_value) AS average_order_value
FROM (
    SELECT SUM(od.Quantity * p.UnitPrice) AS total_order_value
    FROM Orders o
    JOIN OrderDetails od ON o.OrderID = od.OrderID
    JOIN Products p ON od.ProductID = p.ProductID
    WHERE o.OrderDate = '2024-01-30'
    GROUP BY o.OrderID
) AS order_values;

Written a python code to take the above query and directly connect to Postgress to execute the statement and give you the results which you will display in your python console

In [21]:
# Execute the generated SQL query
cursor.execute(generated_sql)

# Fetch the results
results = cursor.fetchall()

# Display the results
print("Query results:")
for row in results:
    print(round(row[0],2))

Query results:
957.53

In [87]:
# Close the cursor and connection
cursor.close()
conn.close()